mixin message(msg)
  .message(
    data-userid=msg.userId
    data-messageid=msg.id
  )
    img.avatar(src=`/avatars/${msg.userId}.png`)
    p.text= msg.message

html
  head
    title My Page
  body
    div
        div.msgs
            each message in messages
              +message(message)
            div
              input.messageInput(type="text", name="")
              button.sendMsg Send Message
    script(src="/js/app.js")
            