mixin message(message, userId)
  div.message
    img(src="", alt="", srcset="")
    p #{message}

html
  head
    title My Page
    script(src="/js/app.js")
  body
    div
        div
            
            